<link rel="stylesheet" href = "/css/user_profile.css">

<h1>
    <%=user.first_name%> <%=user.last_name%> 
</h1>

<p>
    Name : <%=user.first_name%> <%=user.last_name%> 
</p>
<p>
    Email : <%=user.email%>
</p>

